@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Prompt&display=swap');
*{
    margin: 0;
    padding: 0;
}
.main{
    background-color: #CFBCAE;
    background-image: url('../../Asset/wallpaper/Group\ 74.png ');
}
.main-top{
    display: flex;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-left{
    flex: 1.5;
    display: flex;
    padding-left: 5%;
}

.opencafe{
    width: 500px;
    height: auto;
    margin-top: 10%;
    display: flex;
    justify-content: bottom;
}

.box-right{
    flex: 3;
    display: flex;
    justify-content: center ;
    justify-content: bottom;
}
.visitUs{
    width: 250px;
    margin-top: 6%;
    margin-left: 25%;
}

.map{
    width: 800px;
    height: auto;
    
}
.main-bottom{
    padding-left: 47.5%;
    padding-bottom: 40px;
    padding-top: 3%;
}
.thisp{
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 42px;
    padding-bottom: 15px;
}
.contaner{
    display:flex;
    padding: 10px 0 10px 0;
    align-items:center;
}
.contaner img{
    width: 42px;
    padding-right: 20px;
    padding-bottom: 4px;
}
.finalp{
    font-family: "DM Sans", sans-serif;
    font-size: 26px;
    font-weight: 600;
    padding-left: 10px;
    color: #2B231D;
    text-decoration: none;
}